<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Virtual Lab</title>
        <link href="css/body.css" rel="stylesheet" type="text/css"></link>
            <link href="css/common.css" rel="stylesheet" type="text/css" ></link>
                <style>
                    @media screen and (min-width: 0px) and (max-width: 1500px) {
                        #container .imageCont {
                            float: none;
                        }
                    }
                    @media screen and (min-width: 1501px) and (max-width: 1920px) {
                        #container .imageCont {
                            float: left;
                        }
                    }
                </style>
                </head>
                <body>
                    <div id="nav">
                        <div id="logo"></div>  
                        <div id="subNavText" class="bbtn">Home</div>
                    </div>
                    <div id="backBtn" class="bbtn">&lt;</div>
                    <div id="container"> 
                        <!--
                        
                        
                        
                        
                        
                        -->




                        <div id="page1">
                            <div class="clearer"></div>
                            <div class="imageCont"><img src="images/placeHolder.jpg" />
                                <div id="bottomShadow"><img src="images/bottomShadow.png" /></div>
                            </div>
                            <map name="uhst_main"></map>
                            <div class="titleText">Unit Hub Satellite Terminal (UHST) AN/TSC-187</div>
                            <div class="textCols">The UHST provides, the Tactical Hub Node, an interface into the TDMA and FDMA network. The UHST currently supports eight TDMA and eight FDMA modems. Two UHSTs support the Baseband Hub with satellite communications. This piece of equipment is the central control point of the satellite network. The UHST currently supports eight TDMA and eight FDMA modems per shelter. The UHST contains the associated systems and sub-systems for control of the TDMA and FDMA networks in a consolidated terminal. The UHST operates in either Ku-band (Transmit Frequency of 14.0-14.5 GHz and Receive Frequency of 10.95-12.75 GHz broken into 3 separate bands of B1 10.95-11.7 GHz, B2 11.7-12.2 GHz, and B3 12.2-12.75 GHz) or Ka-band (Transmit Frequency of 30.0-31.0 GHz and Receive Frequency of 20.1-21.2 GHz). The UHST supports data rates from 2.4 kbps up to 52 Mbps in 1 bps steps in FDMA. Manual Reference: TM 11-5895-1870-13&amp;P</div>
                        </div>


                        <!--
                        
                        
                        
                        
                        
                        -->








                    </div>
                    <script src="../js/jquery-1.10.2.js" type="text/javascript"></script>
                    <script src="../js/helios.js" type="text/javascript"></script>
                </body>
                </html>