<!DOCTYPE html>
<html>

    <!-- This code is only meant for previewing your Reflow design. -->

    <head>
	<link rel="stylesheet" href="boilerplate.css">
	<link rel="stylesheet" href="page 1.css">
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0">
    </head>
    <body>

    <div id="primaryContainer" class="primaryContainer clearfix">
        <div id="builder" class="clearfix">
            <div id="toolBar" class="clearfix">
            </div>
            <div id="imageListed" class="clearfix">
                <div id="titleText" class="clearfix">
                </div>
                <div id="imageCont" class="clearfix">
                </div>
                <div id="textCols" class="clearfix">
                </div>
            </div>
            <div id="thumbs" class="clearfix">
                <div id="thumbList" class="clearfix">
                </div>
            </div>
        </div>
        <div id="form" class="clearfix">
            <label id="formgroup">
                <p id="projNameLable">
                Project Name&#x3a;
                </p>
                <input id="projectName" type="text" value="Text"></input>
            </label>
            <input id="buildProjectStart" type="button" value="Submit"></input>
            <div id="listProjects" class="clearfix">
            </div>
        </div>
    </div>
    </body>
</html>